.bzrignore
.bzr/
**/build*/
**/Build*/
QtBuild/
BuildXcode/
dist/
*.user
tmp/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

vgcore.*

# macOS
**/.DS_*
**/._*

# VS
**/Browse.VC.db
